* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000010;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0%;

}


#intro {
  position: absolute;
  left: 0;
  top: 45%;
  padding: 0 10px;
  width: 100%;
  text-align: center;

}

#aboutme {
  display: block;
  height: 90%;
  margin-top: 50%;

  background-color: rgba(224, 224, 224, 0.795);
  backdrop-filter: blur(5px);

}

#aboutme-text {
  display: block;

  width: 900px;
  top: 100px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;


}

#heading-tertiary {

  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  color: #0984e3;

  width: 900px;

  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;

}

#technologies_icons {

  width: 900px;

  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;

  line-height: 1.7;
  padding-left: 2px;

}

#technologies_icon {
  display: inline-flex;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  overflow: hidden;
  vertical-align: middle;


}

#project_page {
  display: block;
  height: auto;
  margin-top: auto;
  padding-top: 50px;

  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);

}


#project_preview {

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  width: 70%;

  display: flex;
  flex-wrap: wrap;
}

#text-container-for-preview {
  flex: 50%;

  padding: 25px;


}

#notation-project_text {
  padding-left: 40px;

}


#project_text {}

.preview-image {
  /* 
  margin-left: auto;
  margin-right: auto; */
  padding: 30px;

  flex: 50%;

}

.profile_picture {
  width: 8%;
  border-radius: 50%;

}

h3 {

  padding-top: 30px;

  font-size: 50px;

  text-align: center;

}



h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
}

h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}

p {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}



@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }

  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 100px) {
  #intro {
    padding: 0 10px;
  }

  h1 {
    font-size: 15px;
  }

  h1::after {
    height: 6px;
  }

  p {
    font-size: 18px;
  }

  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }

  h1::after {
    height: 4px;
  }
}